body {
    padding-left: 10px;
}

#title {
    color: #ff7813;
    font-size: 130%;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: darkgoldenrod;
}
a:visited {
    color: cornflowerblue;
}